* {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
 
}

.world {
  display: flex;
 
  width: 100vw;
  height: 100vh;
  
  background: url("./components/img/watter_effect.jpg") no-repeat;
  background-size: 100%;
}

.pato {
  width: 100px;
  height: 120px;
  scale: 1.2;
  position: absolute;
  

  background: url("./components/img/pato.png") no-repeat;
  background-size: 100%;
  
}

.worldSpace {
  width: 100%;
  height: 100%;
}